@font-face {
  font-family: iranyekan;
  font-weight: 700;
  src: url("/iranyekanweblight.52efa674f832684a8ddd.woff") format("woff");
}
body {
  font-family: iranyekan, serif;
  font-size: 1em;
  padding-right: 15px;
  margin-top: 0px;
}

#root {
  height: 600px;
  width: 360px;
}
#changeColor {
  outline: none;
}
#image {
  border-bottom: 1px solid rgb(175, 175, 175);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  position: sticky;
  top: 0px;
  z-index: 10;
  height: 100px;
  max-width: 100%;
  width: 100%;
  background-color: white;
}
#image_content {
  width: 70px;
  height: 70px;
  margin: 10px;
}

/* #result_num {
    font-size: 2em;
} */


.card {
  margin: 3% 4% 3% 4%;
  padding: 3%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -5px;
  overflow: auto;
  text-align: center;

}

.card:hover {
  background-color: rgb(21, 44, 83);
  color: #ffffff;
}

.offer_off {
    background-color: #ec2b54;
    color: rgb(7, 5, 5);
    float: left;
    position: absolute;
    left: 22px;
    font-size: 12px;
    padding-right: 5px;
    padding-left: 5px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.coupon_code {
    background-color: #adb5c3;
    border: none;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: inherit;
}

/*for div containing of button and input*/

.copy_div {
    background-color:transparent;
    width: max-content;
    display: inline-block;
    overflow: auto;
    font-size: 1em;
}



.copy_button {
    background-attachment: #ddd;
    border: none;
    height: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: inherit;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}



