@font-face {
  font-family: iranyekan;
  font-size: 1em;
  font-weight: 700;
  src: url("/iranyekanweblight.52efa674f832684a8ddd.woff") format("woff");
}
body {
  font-family: iranyekan, serif;

}

#root {
  height: 600px;
  width: 360px;
}
#changeColor {
  outline: none;
}
#image {
  border-bottom: 1px solid rgb(175, 175, 175);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
#image_content {
  width: 70px;
  height: 70px;
  margin: 10px;
  border-radius: 50px;
}

.card {
  margin: 3% 4% 3% 4%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -5px;
  overflow: auto;
}

.card:hover {
  background-color: rgb(21, 44, 83);
  color: #ffffff;
}

.offer_off {
    background-color: #ec2b54;
    color: rgb(7, 5, 5);
    /* position: relative;
    top: -65px;
    left: -7px; */
    font-size: 12px;
    padding-right: 5px;
    padding-left: 5px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.coupon_code {
    background-color: #adb5c3;
    border: none;
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
}

/*for div containing of button and input*/

.copy_div {
    background-color: darkgray;
    padding: 0;
    height: 50px;
    width: max-content;
}

.copy_button {
    background-attachment: #ddd;
    border: none;
    height: 100%;
}
